.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  padding: 2px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer-text {
  color: white;
  text-align: center;
}
